{% extends 'index.html' %}
{% load static %}
{% block content %}
<title>About Us </title>
<div class="container">
    <div class="jumbotron bg-light p-lg-5 m-2">
        <h1 class="display-10">Hello!</h1>
        <h5>
            In uncertain times, it's a savvy move to ensure your money is safe. 
            But many Indians are missing an opportunity to safeguard their money and are missing out on guaranteed returns as their money languishes in a big bank savings account.
            You can rest easy putting your money into one of the best online savings accounts where your money is FDIC insured. 
        </h5>
        <br>
        <h3> Online and Mobile Banking </h3>
        <h5>
            Being able to check your balance from your smartphone or laptop is invaluable if you like to keep a close eye on your bottom line. That’s particularly important if you want to avoid expensive overdraft fees. Knowing what you have on hand and what you’re spending can keep you from losing money to fees.
        </h5>
        <br>
        <h3> Check Deposit and Online Bill Pay</h3>
        <h5>
            Mobile check deposit saves you the hassle of having to make a trip to the bank. You just snap a picture of your check with your smart phone and, with a few taps of a button, the check is deposited without your ever having to hit the teller window or even an ATM. Just keep in mind that some banks enforce a longer check hold time when you’re making deposits via a mobile device.
            Online bill pay is another feature that you should look for in a primary bank if you’re tired of writing checks. Paying bills online eliminates the hassle of writing checks and mailing them. Even better, you can automate your monthly payments, so you don’t have to worry about paying late.    
        </h5>        
        <br>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        <br>
     
<br>
<br>

<div class="row">
    <div class="col">
      <div class="card ">
        <div class="card border-primary" style="max-width: 50rem">
            <div class="card-header text-white bg-primary">NEED HELP </div>
            <div class="card-body text-primary">
            <p>Step 1: Check Customers </p>
            <p>Step 2: Go bottom to transfer money</p>
            <p>Step 3: Fill necessary details</p>
            <p>Step 4: Go to transaction history</p>
            <p>Step 5: Check transfer details</p>
            </div>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card border-success" style="max-width: 50rem;">
            <div class="card-header text-white bg-success">CONTACT US </div>
            <div class="card-body text-success">
                <p><a href="#">LinkedIn</a></p>
                <p><a href="#">Gmail</a></p>
                <p><a href="#">Github</a></p>
                <p><a href="#">Facebook</a></p>
                <p><a href="#">Instagram</a></p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<br>
<footer class="sticky-bottom fixed-bottom text-center bg-light" style="padding:10px 10px; display:block; text-align:center;">
<p>A Project by <b>SHIVAM CHAUDHARY </b>© 2021 all rights reserved</p>
</footer>
{% endblock content %}